.laptops-card img{
    width: 260px;
    height: 170px;
    border: 2px solid rebeccapurple;
    padding: 2px;
}

.laptops-card{
    background-color: white;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-duration: 1s;
    border-radius: 5px;
}
.laptops-card:hover{
    background-color: lavender;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.laptops-main-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

@media only screen and (max-width: 600px) {
    .laptops-main-section {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
}